language: python
python:
- '3.7'
- '3.8'
before_install:
- openssl aes-256-cbc -k "$key" -in aws.tar.gz.enc -out aws.tar.gz -d
- tar -xvf aws.tar.gz -C $HOME/
install:
- pip install -r requirements.txt
- pip install -r requirements-dev.txt
- pip install -r tests/requirements.txt
- python setup.py install
script:
- python setup.py check -rms
- flake8
- pytest -s -v tests/
deploy:
  distributions: sdist bdist_wheel
  provider: pypi
  skip_existing: true
  cleanup: true
  username: __token__
  on:
    tags: true
    branch: master
  password:
    secure: Prak+m96961YikiOVPl+zJuOXekSYOREU3ZGUgKCUlf2tSi31ufrdtNCTGoWSW5b3nxEUxbWuuJEev3gA2VuKYBJ3ZiPOLOFfSIjUtXSydZr7qbgkUa9RvUOjbybhL4L6ajL6sU81KFSMjarlYEBfL/9x+tHg2wNdWvJWMAGgq3DoGm/dGA5brMihKLOdg2HmN/mOF4gPmeOJpaa9aSmjwocbFegogs25aLr6gfmOkYJd/P4kH2M3NP5pcNhrFFVpRCn8ZnrjRJIz8piiaVksAKj0MVb1qmAn9Xt0OKMV1Ulgbeb/iib2y7oKCSb1WwGjejx+SdaqUXwb8TCh5PdfW2Ss+aBGwsLRJ9dhRa7H6QB+wY+++1bOnO+/0TcAv8NhFX45BK1+Ytf7PJmmqHW05+yTMkxlFEHh7x/r6A4tp3k5kwSSGiyrQchmrOWGgSnTC03Taa/v1GuZSBF22rTk31RV63fc3Oq8+GXsufdYt/pCXy+mW4FaL0DzFnP9q6a8ZXz74xPFd9/OpfiiIryU1tNPzBYGe1b6aj0A/uNk1W5OK3EYJe9/zV9ziB64ZykFKam5kpzdr900lkp9UFgw4clLg4Hxeuu5ZsilwAPV7KDu+0mYwrL8jIZaQP/qsUfCfk2LRt8cCIIY5bWMax99Ke8tHjVpOmrkNyY7k3NgMQ=
env:
  global:
  - secure: RAz/HpsMtxjOG1DF1mKqkmeJLVhhY6Bf7ry+Wa/glU2DQqu8VKBS/zuKylYsUalAn/7KySdfZhvV9zJtXw5LfcWFYdlJwiSRpoQZtaSN/NFvJljE7CzHWICaLFrPrsVLZ+OHPfYr1F6+dbbT2SVkH/rvKsYIdpqggau2bM/tGtg+P+PpKRRauHZzdnuRcRR1o6HgXLelrK45D95muRHMHuYSCDz4pPIVN3V2CY7RnGq0s9xneRNfXF1of6/VQ6VR0PvMhBHLofvz0mizxx0cJgGF38ptheXZSvzYoPZWRzrTLbUtSZpso3J+M5/CfJjNymRnzropDPLSoFjjOlNEKXusjHS2XSq+31sWDlZ1F1XFQEQaBIG90EmknXasHgR6DLYHUdmAGsePKgvbEs0hDBr0OD67mUjy4jJdvP7ZFXFdqVZ0NXF3hOuONl0t8zuDHuX0uerU30mp39I/kVEQQwclZzTqaZmy+6EVTD8dRVz690uJ420vS+hqe34DitETPom1wsd8eqS6VxLmEQ0AC+35TjBDEljQQrxAGScVTefnq1JPi7YIV2Jg/5PLEiZjHx5lmO89ULXQECknGji5rBhshM5A+lQnBLKSAaaSe6dhw+WYbTJmAjWZOg1maBUL222tdiMloJrHEyaYV/5tptGWrnu+w14CBc3Jr6Eb5lw=
